@page
@model SLGIS.Web.Pages.Report.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Danh sách báo cáo";
}

@section Factory {
    @if (!Model.CanManage)
    {
        <partial name="_FactorySelectPartial" />
    }
}

@section Button {
    @if (!Model.CanManage)
    {
        <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
    }
}



<style>
    #frmSearch input[type="date"] {
        height: 39.6px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", Class = "mt-4", id = "frmSearch" }))
{
    <div class="row">
        <div class="col">
            <div class="d-md-flex">
                <div class="searchText">
                    <label>Từ khóa tìm kiếm</label>
                    <input asp-for="SearchModel.FilterText" class="form-control" placeholder="Tìm kiếm" />
                </div>
                <div class="fromDate ml-md-2">
                    <label>Từ ngày</label>
                    <input asp-for="SearchModel.StartDate" type="date" class="form-control" placeholder="Từ ngày" />
                </div>
                <div class="ml-md-2">
                    <label>Đến ngày</label>
                    <input asp-for="SearchModel.EndDate" type="date" class="form-control" placeholder="đến ngày" />
                </div>
                <div class="ml-md-2">
                    <label>&nbsp;</label>
                    @if (Model.CanManage)
                    {
                        <select name="hydropowerId" class="form-control" asp-items="Model.HydropowerSelectList">
                            <option value="">--All--</option>
                        </select>
                    }
                </div>
                <div class="ml-md-2">
                    <label>&nbsp;</label>
                    <span class="input-group-btn" id="btnSearch">
                        <button class="btn bd bg-primary tx-white pointer" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Ghi chú
                            </th>
                            <th>
                                Tài liệu báo cáo
                            </th>
                            @if (Model.CanManage)
                            {
                                <th>
                                    Đơn vị
                                </th>
                            }
                            <th>
                                Thời gian
                            </th>
                            <th></th>
                        </tr>

                        @{
                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<Core.Report>)
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        @if (Model.CanManage)
                                        {
                                            @item.Title
                                        }
                                        else
                                        {
                                            <a href="@Url.Page("NewOrEdit", new { id = item.Id })">@item.Title</a>
                                        }
                                    </td>
                                    <td>
                                        @item.Content
                                    </td>
                                    <td>
                                        @foreach (var file in item.Files)
                                        {
                                            <a asp-page-handler="DownloadFile" asp-route-id="@item.Id" asp-route-fileName="@System.IO.Path.GetFileName(file)" target="_blank">
                                                @System.IO.Path.GetFileName(file)
                                            </a> <br />
                                        }
                                    </td>
                                    @if (Model.CanManage)
                                    {
                                        <td>
                                            @Model.ListCurrentHydropowers().FirstOrDefault(m => m.Id == item.HydropowerPlantId).Name
                                        </td>
                                    }
                                    <td>
                                        @item.Created.ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                    <td>
                                        @if (!Model.CanManage && item.CanEdit())
                                        {
                                            <a href="@Url.Page("NewOrEdit", new { id = item.Id })" class="btn btn-sm btn-primary">Sửa</a>
                                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                                Xóa
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>