@using SLGIS.Core
@model SLGIS.Web.Areas.Admin.Pages.Hydropower.NewOrEditModel
@{
    var canManage = User.IsInRole(Constant.Role.Admin) || User.IsInRole(Constant.Role.SupperAdmin) || User.IsInRole(Constant.Role.Member);
}

<div class="col-md-12 mb-4">
    <div class="row mt-2 row-item">
        <div class="col-sm-6">
            <div class="form-group gisimage">
                <label>Ảnh</label>
                @Html.HiddenFor(model => model.HydropowerPlant.Image)
                <div class="text-center">
                    <img src="@(Model.HydropowerPlant?.Image ?? "/images/no-image-768x576.png")" class="img-thumbnail" style="height: 247px;" />
                </div>
                @Html.EditorFor(model => model.ViewModel.HydropowerPlantImage, new { htmlAttributes = new { @class = "form-control", accept = "image/*" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Image, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tên công trình</label>
                @Html.EditorFor(model => model.HydropowerPlant.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Chủ đầu tư</label>
                @Html.EditorFor(model => model.HydropowerPlant.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.OwnerName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Người đại diện</label>
                @Html.EditorFor(model => model.HydropowerPlant.PersonOwnerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.PersonOwnerName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                @Html.EditorFor(model => model.HydropowerPlant.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Số điện thoại (của người đại diện)</label>
                @Html.EditorFor(model => model.HydropowerPlant.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Email (của người đại diện)</label>
                @Html.EditorFor(model => model.HydropowerPlant.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tình trạng</label>
                @Html.EditorFor(model => model.HydropowerPlant.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Công suất lắp máy</label>
                @Html.EditorFor(model => model.HydropowerPlant.Wattage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Wattage, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Cấp công trình</label>
                @Html.EditorFor(model => model.HydropowerPlant.Level, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Level, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Địa điểm xây dựng</label>
                @Html.EditorFor(model => model.HydropowerPlant.BuildAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.BuildAddress, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Diện tích đất</label>
                @Html.EditorFor(model => model.HydropowerPlant.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Area, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Năm khởi công xây dựng</label>
                @Html.EditorFor(model => model.HydropowerPlant.StartBuild, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.StartBuild, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Năm hoàn thành</label>
                @Html.EditorFor(model => model.HydropowerPlant.EndBuild, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.EndBuild, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tổng mức đầu tư</label>
                @Html.EditorFor(model => model.HydropowerPlant.TotalInvestment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HydropowerPlant.TotalInvestment, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tọa độ công trình (vd: 21.0222089,105.8085448)</label>
                <div class="input-group">
                    <span class="input-group-addon tx-size-sm lh-2">Lat,Lng=</span>
                    @Html.EditorFor(model => model.PlantLocation, new { htmlAttributes = new { @class = "form-control", pattern = @"[-]?[\d]+[.][\d]*" } })
                </div>
            </div>
            <div class="form-group @(canManage ? "" : "d-none")">
                <label>Phương án đấu nối. Trên giao diện sẽ chọn nối với trạm biến áp</label>

                <select name="ViewModel.SelectedConnections" class="form-control select2" data-placeholder="Connections" multiple="multiple" tabindex="-1" aria-hidden="true">
                    @foreach (var item in Model.Substations)
                    {
                        if (Model.HydropowerPlant.Connections.Any(m => m.SubstationId == item.Id))
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Connections, "", new { @class = "text-danger" })
            </div>
            <div class="form-group @(canManage ? "" : "d-none")">
                <label>Người quản lý</label>
                <select name="ViewModel.SelectedHydropowerPlantOwners" class="form-control select2" data-placeholder="Người quản trị" multiple="multiple" tabindex="-1" aria-hidden="true">
                    @foreach (var item in Model.Members)
                    {
                        if (Model.HydropowerPlant.Owners.Contains(item.Id))
                        {
                            <option value="@item.Id" selected>@item.UserName</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.UserName</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.HydropowerPlant.Owners, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>




