@page
@model SLGIS.Web.Areas.Admin.Pages.Hydropower.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Danh sách nhà máy thủy điện";
}

@section Button {

    @if (Model.CanManage)
    {
        <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
    }
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", Class = "mt-4", id = "frmSearch" }))
{
    <div class="row">
        <div class="col">
            <div class="d-md-flex">
                <div>
                    <label>Từ khóa tìm kiếm</label>
                    <input type="text" class="form-control" name="searchText" placeholder="Tìm kiếm" value="@Model.FilterText">
                </div>
                @if (Model.CanManage)
                {
                    <div class="ml-md-2">
                        <label>Huyện</label>
                        <select name="district" class="form-control">
                            <option value="">-Tất cả các huyện-</option>
                            @foreach (var item in SLGIS.Core.HydropowerPlant.Districts)
                            {
                                if (Model.District == item)
                                {
                                    <option value="@item" selected>@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                }
                <div class="ml-md-2">
                    <label>&nbsp;</label>
                    <span class="input-group-btn" id="btnSearch">
                        <button class="btn bd bg-primary tx-white pointer" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Chủ đầu tư
                            </th>
                            <th>
                                Người đại diện
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th></th>
                        </tr>

                        @{
                            if (!Model.ViewModel.Items.Any())
                            {
                                <tr class="stat even">
                                    <td class="ac text-center" colspan="7">
                                        @if (!Model.CanManage)
                                        {
                                            <span class="text-warning">Bạn chưa được cấp quyền quản lý thủy điện.</span>
                                        }
                                    </td>
                                </tr>
                            }

                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<SLGIS.Core.HydropowerPlant>
                                )
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        <a href="@Url.Page("NewOrEdit", new { id = item.Id })">@item.Name</a>
                                    </td>
                                    <td>
                                        @item.OwnerName
                                    </td>
                                    <td>
                                        @item.PersonOwnerName <br />
                                        @item.Phone
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        @item.Created.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                    <td>
                                        <a href="@Url.Page("NewOrEdit", new { id = item.Id })" class="btn btn-sm btn-primary">Sửa</a>
                                        @if (Model.CanManage)
                                        {
                                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                                Xóa
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>
