@using SLGIS.Implementation
@inject HydropowerService hydropowerService
@{
    var selected = hydropowerService.GetCurrent(User.GetId());
    var hydropowerPlants = hydropowerService.CurrentList(User.GetId()).OrderBy(m => m.Name);

    var url = $"{Context.Request.Path}";
}

<style>
    #hydropowerPlant select {
        border: none;
        border-bottom: 1px dotted;
        font-weight: bold;
        border-radius: 0;
        text-align: center;
    }
</style>
<div id="hydropowerPlant" class="text-center" data-id="@selected.Id">
    <select class="form-control" data-placeholder="Chọn thủy điện" onchange="location.href = $(this).val()">
        @foreach (var hydropowerPlant in hydropowerPlants)
        {
            if (selected.Id == hydropowerPlant.Id)
            {
                <option value="@($"{url}?handler=HydropowerChange&id={hydropowerPlant.Id}")" selected="selected">@hydropowerPlant.Name</option>
            }
            else
            {
                <option value="@($"{url}?handler=HydropowerChange&id={hydropowerPlant.Id}")">@hydropowerPlant.Name</option>
            }
        }
    </select>
</div>