@page
@model SLGIS.Web.Pages.PostData.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Dữ liệu vận hành";
}

@section Factory {
    <partial name="_FactorySelectPartial" />
}

@section Button {
    @if (!Model.CanManage)
    {
        <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
    }
}

<style>
    #frmSearch input[type="date"] {
        height: 39.6px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", Class = "mt-4", id = "frmSearch" }))
{
    <div class="row">
        <div class="col">
            <div class="d-md-flex">
                <div class="fromDate">
                    <label>Từ ngày</label>
                    <input asp-for="SearchModel.StartDate" type="date" class="form-control" placeholder="Từ ngày" />
                </div>
                <div class="ml-md-2">
                    <label>Đến ngày</label>
                    <input asp-for="SearchModel.EndDate" type="date" class="form-control" placeholder="đến ngày" />
                </div>
                <div class="ml-md-2">
                    <label>&nbsp;</label>
                    <span class="input-group-btn" id="btnSearch">
                        <button class="btn bd bg-primary tx-white pointer" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="ml-md-2">
                    <label>&nbsp;</label>
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="exportCSV()">Tải xuống CSV</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Ngày
                            </th>
                            <th>
                                Sản lượng ngày (MWh)
                            </th>
                            <th>
                                Tổng lượng nước qua Tuabin (m3)
                            </th>
                            <th>
                                Số giờ phát điện (giờ)
                            </th>
                            <th></th>
                        </tr>

                        @{
                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<Core.PostData>)
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        <a href="@Url.Page("NewOrEdit", new { id = item.Id })">@item.Date.ToString("dd/MM/yyyy")</a>
                                    </td>
                                    <td>
                                        @item.SanLuongNgay
                                    </td>
                                    <td>
                                        @item.TotalWater
                                    </td>
                                    <td>
                                        @item.SoGioPhatDien
                                    </td>
                                    <td>
                                        @if (!Model.CanManage && item.CanEdit())
                                        {
                                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                                Xóa
                                            </button>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>

@section Scripts {
    <script src="/js/exportCsv.js"></script>
}
