@page
@model SLGIS.Web.Pages.PostData.NewOrEditModel

@{
    //ViewBag.Title = Model.PostData.Id != Guid.Empty ? "Sửa lại" : "Thêm mới dữ liệu vận hành";
    ViewBag.Breadcrumbs = "<a href='" + Url.Page("Index") + "' class='breadcrumb-item'>PostData</a>" +
                          "<span class='breadcrumb-item active'>" + ViewBag.Title + "</span>";

}

@section Factory {
    <partial name="_FactorySelectPartial" />
}
<style>
    .table-text-box {
        display: inline;
        width: 100%;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="PostData.HydropowerPlantId" value="@ViewData["HydropowerPlantId"]" />
    @Html.HiddenFor(model => model.PostData.Id)
    <div class="card shadow-base mb-2">
        <div class="card-header">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <strong>Dữ liệu ngày</strong>
                <i class="fa fa-caret-down pull-right mt-1"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-3">
                    @Html.Label("Ngày")
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Date field is required." id="PostData_Date" name="PostData.Date" type="date" value="@Model.PostData.Date.ToString("yyyy-MM-dd")">
                    @Html.ValidationMessageFor(model => model.PostData.Date, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("Sản lượng ngày (MWh)")
                    @Html.EditorFor(model => model.PostData.SanLuongNgay, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.PostData.SanLuongNgay, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("Tổng lượng nước qua Tuabin (m3)")
                    @Html.EditorFor(model => model.PostData.TotalWater, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.PostData.TotalWater, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.Label("Số giờ phát điện (giờ)")
                    @Html.EditorFor(model => model.PostData.SoGioPhatDien, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.PostData.SoGioPhatDien, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-base mb-2">
        <div class="card-header">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <strong>Dữ liệu chi tiết</strong>
                <i class="fa fa-caret-down pull-right mt-1"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="post-data">
                        <thead>
                            <tr>
                                <th>Giờ</th>
                                @foreach (var item in Model.Elements)
                                {
                                    <th title="@item.Title">@item.Title (@item.Unit)</th>
                                }
                            </tr>
                        </thead>
                        @foreach (var item in Model.PostData.PostDataDetails)
                        {
                            <tr>
                                <td><input class="table-text-box" type="number" value="@item.Hour" /></td>
                                @foreach (var element in Model.Elements)
                                {
                                    var data = item.Values.Where(m => m.Code == element.Code).FirstOrDefault();
                                    var value = "";
                                    if (data != null)
                                    {
                                        value = data.Value.ToString();
                                    }
                                    <td><input type="number" class="table-text-box" data-code="@element.Code" value="@value" /></td>
                                }
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-12">
                    <a href="javascript:void(0)" onclick="addRow()"><i class="icon ion-ios-plus"> </i>Thêm dòng</a>
                </div>
                <div id="inputElement"></div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" onclick="return beforeSubmit();" type="submit">Lưu</button>
    <a href="@Url.Page("Index")" class="btn btn-outline-secondary">Quay lại</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function beforeSubmit() {
            var i = 0;
            var result = "";
            $('#post-data tr').each(function () {
                var j = 0;
                var first = true;
                var html = "";
                $("input", $(this)).each(function () {
                    var value = $(this).val();
                    if (!value) value = 0;
                    if (first) {
                        html += "<input type='hidden' name='PostData.PostDataDetails[" + i + "].Hour' value='" + value + "' />";
                        first = false;
                    }
                    else {
                        var code = $(this).data("code");
                        html += "<input type='hidden' name='PostData.PostDataDetails[" + i + "].Values[" + j + "].Code' value='" + code + "' />";
                        html += "<input type='hidden' name='PostData.PostDataDetails[" + i + "].Values[" + j + "].Value' value='" + value + "' />";
                        j++;
                    }
                });
                if (html) {
                    result += html;
                    i++;
                }
            });
            $("#inputElement").html(result);
            return true;
        }

        function addRow() {
            var row = $('#post-data tr:last').html();
            $('#post-data tr:last').after('<tr>' + row + '</tr>');
            //$('#post-data tr:last input:first').val(100);
        }

    </script>
}
