@page
@model SLGIS.Web.Areas.Admin.Pages.Element.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Danh sách thông số";
}

@section Button {
    <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@Model.FilterText">
        </div>
        <div class="col-md-3">
            <select name="hydropowerId" class="form-control" asp-items="Model.HydropowerSelectList" onchange="this.form.submit()">
                <option value="">--All--</option>
            </select>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Thủy điện
                            </th>
                            <th></th>
                        </tr>

                        @{
                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<SLGIS.Core.Element>)
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        <a href="@Url.Page("NewOrEdit", new { id = item.Id })">@item.Title</a>
                                    </td>
                                    <td>
                                        @item.Code
                                    </td>
                                    <td>
                                        @item.Unit
                                    </td>
                                    <td>
                                        @(item.HydropowerPlantId.HasValue? Model.ListCurrentHydropowers().FirstOrDefault(m=>m.Id == item.HydropowerPlantId).Name : "")
                                    </td>
                                    <td>
                                        <a href="@Url.Page("NewOrEdit", new { id = item.Id })" class="btn btn-sm btn-primary">Sửa</a>
                                        <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>