@page
@model SLGIS.Web.Pages.Notify.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Danh sách thông báo của sở";
}

@section Button {
    @if (Model.CanManage)
    {
        <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
    }
}

@section Factory {
    @if (!Model.CanManage)
    {
        <partial name="_FactorySelectPartial" />
    }
}

<partial name="_SearchPartial" model="Model.SearchModel" />

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Tài liệu
                            </th>
                            <th>
                                Thời gian thông báo
                            </th>
                            @if (Model.CanManage)
                            {
                                <th>Đối tượng gửi</th>
                            }
                            <th>

                                @if (Model.CanManage)
                                {
                                    <span>Đã đọc</span>
                                }
                                else
                                {
                                    <span>Thời gian đọc</span>
                                }
                            </th>
                            @if (Model.CanManage)
                            {
                                <th></th>
                            }
                        </tr>

                        @{
                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<Core.Notify>)
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        @if (!Model.CanManage && !item.IsRead(Model.GetCurrentHydropower().Id, User.GetId()))
                                        {
                                            <strong>
                                                <a href="@Url.Page("Detail", new { id = item.Id })">
                                                    @item.Title
                                                </a>
                                            </strong>
                                        }
                                        else
                                        {
                                            <a href="@Url.Page("Detail", new { id = item.Id })">
                                                @item.Title
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Files.Count > 0)
                                        {
                                            @item.Files.Count
                                            <i class="fa fa-paperclip"></i>
                                        }
                                    </td>
                                    <td>
                                        @item.Created.ToUniversalTime().ToVNDateTimeString()
                                    </td>
                                    @if (Model.CanManage)
                                    {
                                        <td>
                                            @if (item.IsAll)
                                            {
                                                <span>Tất cả</span>
                                            }
                                            else
                                            {
                                                if (item.ToPlantIds.Count > 2)
                                                {
                                                    <span>@item.ToPlantIds.Count thủy điện</span>
                                                }
                                                else
                                                {
                                                    foreach (var plant in Model.ListCurrentHydropowers().Where(m => item.ToPlantIds.Contains(m.Id)))
                                                    {
                                                        <span>@plant.Name</span> <br />
                                                    }
                                                }
                                            }

                                        </td>
                                    }
                                    <td>
                                        @if (Model.CanManage)
                                        {
                                            <span>@item.ReadPlants.Count</span>
                                        }
                                        else
                                        {
                                            @item.GetReadTime(Model.GetCurrentHydropower().Id, User.GetId())?.ToVNDateTimeString()
                                        }
                                    </td>

                                    @if (Model.CanManage && item.CanEdit())
                                    {
                                        <td>
                                            <a href="@Url.Page("NewOrEdit", new { id = item.Id })" class="btn btn-sm btn-primary">Sửa</a>
                                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                                Xóa
                                            </button>
                                        </td>
                                    }

                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>

@section Styles {
    <link href="/css/datepicker.css" rel="stylesheet" />
}

@section Scripts {
    <script src="/lib/jquery-ui/jquery-ui.js"></script>
}
