@page
@model SLGIS.Web.Pages.Notify.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Danh sách thông báo của sở";
}

@section Button {
    @if (Model.CanManage)
    {
        <a href="@Url.Page("NewOrEdit")" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
    }
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@Model.FilterText">
                <span class="input-group-btn" id="btnSearch">
                    <button class="btn bd bg-white tx-gray-600" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    <table class="table mg-b-0" cellspacing="0">
                        <tr>
                            <th>STT</th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Tài liệu
                            </th>
                            <th>
                                Thời gian
                            </th>
                            <th></th>
                        </tr>

                        @{
                            var stt = 1;
                            foreach (var item in Model.ViewModel.Items as IEnumerable<Core.Notify>)
                            {
                                <tr class="stat even">
                                    <td class="ac">
                                        @(stt++)
                                    </td>
                                    <td>
                                        @if (User.Identity.IsAuthenticated && !item.ReadUserIds.Any(m => m == User.GetId().ToString()))
                                        {
                                            <strong>
                                                <a href="@Url.Page("Detail", new { id = item.Id })">
                                                    @item.Title
                                                </a>
                                            </strong>
                                        }
                                        else
                                        {
                                            <a href="@Url.Page("Detail", new { id = item.Id })">
                                                @item.Title
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Files.Count > 0)
                                        {
                                            @item.Files.Count
                                            <i class="fa fa-paperclip"></i>
                                        }
                                    </td>
                                    <td>
                                        @item.Created.ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                    <td>
                                        @if (Model.CanManage && item.CanEdit())
                                        {
                                            <a href="@Url.Page("NewOrEdit", new { id = item.Id })" class="btn btn-sm btn-primary">Sửa</a>
                                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btnConfirm">
                                                Xóa
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <partial name="_PagerPartial" model="Model.ViewModel" />
        </form>
    </div>
</div>